<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/style.css' | absolute_url }}">
    <script src="{{ '/assets/script.js' | absolute_url }}" charset="utf-8"></script>

    <title>{{ page.title }} - keine.company</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
